<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src='./script.js'></script>
</head>
<body>
    <div ng-controller="SimpleCtrl">
        {{message}}
        <br/> <br/>

     <form ng-submit="addDestination()">
        <span>
           City: <input ng-model="city"/>
           Country: <input ng-model="country"/>
            <input type="submit" value="Add"/>
        </span>
     </form>
     <h2>Your Trip</h2>
     <div ng-repeat="destination in destinations">
        <span>{{destination.city}}  {{destination.country}}</span>
     </div>
    </div>

</body>
</html>